<div oc-lazy-load="{name:'myApp',files:['Content/DD_DoctorSideNav.js?r=1574298547','Design/doctorSignOut.js?r=803770619']}">
    <div ng-controller="doctorSignOut"></div>

    <div ng-controller="CtrlDD_DoctorSideNav">
        <form id="formData" name="formData" layout-padding style="width: 100px">
            <div layout="column" layout-align="start start" style="margin :0 auto">
                <md-button layout-align="start start"  class="sideNav-button"
                        class="md-inline-list-icon-label"
                        ng-click="">
                    <span class="md-inline-list-icon-label">{{'USER_PROFILE' | translate}}</span>
                </md-button>
                <md-button class="sideNav-button"
                        class="md-inline-list-icon-label"
                        ng-click="">
                    <span class="md-inline-list-icon-label" >{{'SETTING' | translate}}</span>
                </md-button>
                <md-button class="sideNav-button"
                        class="md-inline-list-icon-label"
                        ng-click="">
                    <span class="md-inline-list-icon-label" >{{'OFFICE_MANAGEMENT' | translate}}</span>
                </md-button>
                <md-button class="sideNav-button"
                        class="md-inline-list-icon-label"
                        ng-click="">
                    <span class="md-inline-list-icon-label" >{{'SECRETARY_MANAGEMENT' | translate}}</span>
                </md-button>
                <md-button class="sideNav-button"
                        class="md-inline-list-icon-label"
                        ng-click="">
                    <span class="md-inline-list-icon-label" >{{'CARTABLE' | translate}}</span>
                </md-button>
                <md-button class="sideNav-button"
                        class="md-inline-list-icon-label"
                        ng-click="">
                    <span class="md-inline-list-icon-label" >{{'DIALOGUE_PANEL' | translate}}</span>
                </md-button>
                <md-button class="sideNav-button"
                        class="md-inline-list-icon-label"
                        ng-click="">
                    <span class="md-inline-list-icon-label" >{{'REPORTS' | translate}}</span>
                </md-button>
                <md-button class="sideNav-button"
                        class="md-inline-list-icon-label"
                        ng-click="">
                    <span class="md-inline-list-icon-label" >{{'SUPPORT' | translate}}</span>
                </md-button>
            </div>
        </form>
    </div>
</div>
<style>
    .sideNav-button{
        color: white;
        font-size: small;
        text-align: start;
    }
</style>
