<div oc-lazy-load="{name:'myApp',files:['Content/MS_SetSecretaryPassword.js?r=430067676','Design/setSecretaryPassword.js?r=430067676','scripts/ngMask.min.js','scripts/md-input.css']}">
    <div ng-controller="setSecretaryPassword"></div>

    <div ng-controller="CtrlMS_SetSecretaryPassword">
        <form id="formData" name="formData" layout-padding style="width: 450px">
            <div layout="column" style="margin :0 auto">
                <div layout="row" layout-align="center center">
                    <md-icon style="height: 110px;
                                width: 110px;
                                font-size: 110px;
                                text-align: center;
                                color: #00c6d7;">security
                    </md-icon>
                </div>
                <div layout-padding layout="row" layout-align="center center">
                    <div style="text-align: center ; font-size: small">
                        <span>{{'PLEASE_SET_YOUR_PASSWORD_OF_SECRETARY_DASHBOARD' | translate}}</span>
                    </div>
                </div>
                <md-input-container>
                    <md-icon>security</md-icon>
                    <input ng-model="Form.password__"
                           type="{{inputType1}}"
                           md-five="true"
                           minlength="6"
                           md-minlength="6"
                           name="password"
                           required
                           password-verify="{{Form.confirmPassword__}}"
                           style="width: 386px">
                    <md-icon class="material-icons" ng-click="changeInputType()">{{visibility1}}</md-icon>
                    <label>{{'PASSWORD'| translate }}</label>
                    <div class="hint"
                         ng-show="!formData.password.$touched || formData.password.$valid">
                        {{'PASSWORD_HINT' | translate }}
                    </div>
                    <div ng-messages="formData.password.$error" role="alert">
                        <div ng-message="required" class="my-message">
                            {{ 'PASSWORD_IS_REQUIRED' | translate }}
                        </div>
                        <div ng-message="minlength" class="my-message">
                            {{ 'PASSWORD_MUST_BE_MORE_THAN_6_CHARS' | translate }}
                        </div>
                        <div ng-message="passwordVerify" class="my-message">
                            {{ 'PASSWORD_IS_NOT_MATCH_WITH_CONFIRM_PASSWORD' | translate }}
                        </div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <md-icon>security</md-icon>
                    <input ng-model="Form.confirmPassword__"
                           type="{{inputType2}}"
                           md-five="true"
                           minlength="6"
                           md-minlength="6"
                           name="confirmPassword"
                           required
                           password-verify="{{Form.password__}}"
                           style="width: 386px">
                    <md-icon class="material-icons" ng-click="changeInputType1()">{{visibility2}}</md-icon>
                    <label>{{'CONFIRM_PASSWORD'| translate }}</label>
                    <div ng-messages="formData.confirmPassword.$error" role="alert">
                        <div ng-message="required" class="my-message">
                            {{ 'CONFIRM_PASSWORD_IS_REQUIRED' | translate }}
                        </div>
                        <div ng-message="minlength" class="my-message">
                            {{ 'CONFIRM_PASSWORD_MUST_BE_MORE_THAN_6_CHARS' | translate }}
                        </div>
                        <div ng-message="passwordVerify" class="my-message">
                            {{ 'CONFIRM_PASSWORD_IS_NOT_MATCH_WITH_PASSWORD' | translate }}
                        </div>
                    </div>
                </md-input-container>
                            <md-button
                                    class="md-list-item-content md-primary"
                                    ng-click="(formData.$valid)?makeDesign_293139():'';"
                                    flex="100"
                                    flex-xs="100">
                                <md-icon class="material-icons">save</md-icon>
                                <span class="md-inline-list-icon-label">{{'APPROVE_AND_CONTINUE' | translate}}</span>
                            </md-button>
                            <!--  --></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div> 
